
#LoginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#LoginPage h1{
    margin-bottom: 1.5rem;
}

#LoginPage form{
    display: flex;
    flex-direction: column;
    
}

#LoginPage form input[type="submit"]{
    width: 100px;
    align-self: flex-end;
}