
#LoginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LoginPage form{
    display: flex;
    flex-direction: column;
    width: 25%;
}

#LoginPage form input[type="submit"]{
    width: 100px;
    align-self: flex-end;
}